modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["revenuecat:1.0.0", "github:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
EXPO_PUBLIC_REVENUECAT_TEST_API_KEY = "test_owBQoWeILfHWuokNRxGeCTgzwOR"
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY = "appl_VdrCZggfzjnbUoRTZowVtKqWeoN"
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY = "goog_bqBgTsDUgjzHGkkDELpFVQaVFzF"
REVENUECAT_PROJECT_ID = "proj69c9f68b"
